@import url('../../keycloak/lib/zocial/zocial.css');

body {
    background-color: #040507;
    background-image: url('../img/bkgrnd.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    color: #fff;
    font-family: sans-serif;
    text-shadow: 0px 0px 10px #000;
}

a {
    color: #fff;
}

