@import url('../../keycloak/lib/zocial/zocial.css');

.login-pf body {
    background: url("../img/bkgrnd.jpg") no-repeat center center fixed;
    background-color: #F2F3F3;
    background-size: cover;
    height: 100%;
    font-family: Open Sans, sans-serif;
    color: #274388;
}
