.login-pf body {
    background: url("../img/bkgrnd.jpg") no-repeat center center fixed;
    background-color: #F2F3F3;
    background-size: cover;
    height: 100%;
    font-family: Open Sans, sans-serif;
    color: #274388;
}

.card-pf {
    border: none;
    box-shadow: none;
    background: none;
    margin-top: 100px;
}

h1 {
   font-size: 2em;   
   font-weight: 700;
}

.login-pf-page .form-control {
   height: 50px;
   border: 0;
   box-shadow: none;
   transition: none;
}

form-control:hover {
   box-shadow: none;
   border-bottom: 2px #274388 solid;
}

.form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1.66666667;
    color: #363636;
    background-color: #fff;
    background-image: none;
    border: 0;
    border-bottom: 2px solid white;
    box-shadow: none;
    transition: border-color ease-in-out .15s;
    border-radius: 0;
    clip-path: polygon(0 0, 97% 0, 100% 36%, 100% 100%, 0 100%);
}

.btn-primary {
    background-color: #FAE108;
    background-image: none;
    border: 1px solid #FAE108;
    color: #274388;
}

#kc-header-wrapper {    
    border-bottom: 8px solid #FAE108;
    padding: 0;
}    
    
#kc-header {
    position: absolute;
    top: 0;
    padding: 0;
    width: 100%;
    z-index: 2;
    padding: 0;
    background-color: white;
}

div.kc-logo-text {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    height: 60px;
    width: 300px;
    /* margin: 0 auto; */
    background-size: 100px 47px;
    margin: 15px 0 0 25px;
    
}

@media (min-width: 768px) {
    .card-pf {
       clip-path: polygon(0 0, 95% 0, 100% 25%, 100% 100%, 0 100%);
       background-color: rgb(255, 255, 255, .8);
    }       
    
    #kc-locale {
        position: absolute;
        width: 200px;
        top: 20px;
        right: 20px;
        text-align: right;
        z-index: 9999;
    }

    #kc-container-wrapper {
        position: relative;
    }
}

@media (max-width: 767px) {

    div.kc-logo-text {
        height: 46px;
        background-size: 66px 36px;
        margin: 10px 0 0 22px;
    }
    
    #kc-form-options .checkbox, .login-pf body {
        color: white;
        background-position: 30% 50%;
    }

    #kc-page-title {
        font-size: 24px;
    }
    
    .login-pf-page .btn-primary {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
    }   
}


